// app global css in SCSS form
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 15px;
    background-color: #F8F7F4;
    color: #2D2D2D;
}

h1, h2, h3 {
    font-family: 'Plus Jakarta Sans', serif;
    letter-spacing: -0.02em;
}

.text-h3, .text-h4, .text-h5 {
    font-family: 'Plus Jakarta Sans', serif;
    letter-spacing: -0.02em;
}